/firmware/esp32/.cache/
/firmware/esp32/build
/firmware/esp32/.devcontainer
/firmware/esp32/.vscode
/firmware/esp32/components/
/firmware/esp32/dependencies.lock
/firmware/esp32/managed_components/
/firmware/esp32/sdkconfig.old
/mobile-app/src/CamRover.ControllerApp/bin/
/mobile-app/src/CamRover.ControllerApp/obj/
/mobile-app/.vs/
/mobile-app/src/CamRover.ControllerApp/CamRover.ControllerApp.csproj.user
